@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  h1,h2,h2{
    @apply text-red-500
  }
  button {
    height: 60px;
    font-size: 24px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
}
